.CoinsContainer{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-self: start;

    background-color: #5841d8;
}

.imgCoins{
    width: 50px;
}
.ulContainer{
    color:white;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgContainer{
    margin-right: 10px;
}
.infoContainer{
    margin-left: 20px;
}
.contain{
    list-style: none;
}